<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- head共通部分 -->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link href="../static/css/approval/requests-list.css" th:href="@{/css/attendance/approval/requests-list.css}" rel="stylesheet" />
    <title>勤怠データ修正承認 - ShiftSync</title>
</head>

<body>
    <!-- header共通部分 -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <div class="container">
        <h2>勤怠データ修正承認</h2>
        
        <div th:if="${!#lists.isEmpty(attendance_time_corrections)}" class="d-flex justify-content-center mb-4">
			<!-- 申請承認 -->
			<form th:action="@{/update-edit-clock-time-request}" method="post">
			    <input type="hidden" name="employeeId" th:value="${employeeId}" />
			    <input type="hidden" name="yearMonthDay" th:value="${yearMonthDay}" />
			    <button type="submit" class="btn btn-primary mx-2">承認する</button>
			</form>
			
			<form th:action="@{/delete-edit-clock-time-request}" method="post">
			    <input type="hidden" name="employeeId" th:value="${employeeId}" />
			    <input type="hidden" name="yearMonthDay" th:value="${yearMonthDay}" />
			    <button type="submit" class="btn btn-danger mx-2">申請を取り下げる</button>
			</form>
			
			<a th:href="@{/edit-clock-time-request-list}" class="btn btn-danger mx-2">勤怠データ修正一覧に戻る</a>
        </div>

        <!-- 勤怠テーブル -->
        <table class="attendance-request-table">
            <thead>
            <tr>
                <th>年月日</th>
                <th>出勤時刻</th>
                <th>退勤時刻</th>
                <th>勤務時間</th>
                <th>修正理由</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(attendance_time_corrections)}">
                <td colspan="6" th:text="${message}"></td>
            </tr>
            <tr th:each="attendance_time_correction : ${attendance_time_corrections}">
                <td th:text="${attendance_time_correction.yearMonthDay}"></td>
                <td th:text="${#dates.format(attendance_time_correction.clockIn, 'HH:mm:ss')}"></td>
                <td th:text="${#dates.format(attendance_time_correction.clockOut, 'HH:mm:ss')}"></td>
                <td th:text="${attendance_time_correction.workDuration}"></td>
                <td th:text="${attendance_time_correction.applicationReason}"></td>
            </tr>
            </tbody>
        </table>

    </div>

    <!-- footer共通部分 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
