<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- head共通部分 -->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>403エラー - ShiftSync</title>
</head>

<body>
	
	<!-- header共通部分 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>		
	
	<h1>403 - アクセス拒否</h1>
	<div>
		このページにアクセスする権限がありません。
	</div>
	<a th:href="@{/}">勤怠記録へ</a>
	
	<!-- footer共通部分 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
	
</body>

</html>
