<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.levels.ShiftSync.repository.AttendanceRecordMapper">

    <!--　出勤時間の登録 -->
    <insert id="clockIn" parameterType="com.levels.ShiftSync.entity.AttendanceRecord">
        INSERT INTO attendance_records (employee_id, clock_in)
        VALUES (#{employeeId}, #{clockIn})
    </insert>

    <!--　出勤時間の登録 -->
    <update id="clockOut" parameterType="com.levels.ShiftSync.entity.AttendanceRecord">
        UPDATE attendance_records
        SET clock_out = #{clockOut}
        WHERE employee_id = #{employeeId} 
    </update>
    
    <!-- 今日の出勤記録を取得 -->
    <select id="findAttendanceRecordForToday" resultType="com.levels.ShiftSync.entity.AttendanceRecord">
        SELECT *
        FROM attendance_records
        WHERE employee_id = #{employeeId}
        AND clock_in BETWEEN #{startOfDay} AND #{endOfDay}
    </select>

</mapper>
