body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    /* その他の必要なスタイルがあれば追加 */
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.display-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* 各要素間のスペース */
    margin-bottom: 20px;
}

.display-row div {
    text-align: center;
    width: 200px;
    height: 57.79px;
}

.display-row p {
    margin-bottom: 5px;
}

.display-row span {
    display: block;
    font-size: 1.2em; /* フォントサイズの調整 */
    font-weight: bold; /* フォントを太く */
}