/* 全体 */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* 出退勤表示 */
.display-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.display-row div {
    flex: 1;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

/* 出退勤記録 */
.record-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.record-row form {
    flex: 1;
    text-align: center;
}

.record-row button {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer; /* ボタンにポインタを表示 */
}

.record-row button:disabled {
    background-color: #d3d3d3; /* ボタンが無効な時の色 */
    cursor: not-allowed; /* 無効な時のカーソル */
}

/* ログアウト */
.logout-form {
    margin-top: 30px;
    text-align: center;
}

.logout-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
}
