/* 共通のスタイル */
/* HTML, bodyの高さを100%に */
html, body {
    height: 100%;
    margin: 0;
}
/* ページ全体をflexboxで設定 */
body {
    display: flex;
    flex-direction: column;
}
/* メインコンテンツのflex-growで空きスペースを埋める */
main {
    flex-grow: 1;
}
/* フッターを固定 */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
