<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- head共通部分 -->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link href="../static/css/yearly_attendance.css" th:href="@{/css/yearly_attendance.css}" rel="stylesheet" />
    <title>勤怠承認 - ShiftSync</title>
</head>

<body>
    <!-- header共通部分 -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <div class="container">
        <h2>勤怠承認</h2>

        <!-- 従業員IDと年月の入力フォーム -->
        <form th:action="@{/attendanceApproval}" method="get">
            <label for="employeeId">従業員IDを入力:</label>
            <input type="text" id="employeeId" name="employeeId" placeholder="従業員IDを入力" required />

            <label for="yearMonth">年月を入力:</label>
            <input type="month" id="yearMonth" name="yearMonth" required />

            <button type="submit">表示</button>
        </form>

        <!-- 選択した従業員IDと年月を表示 -->
        <p th:text="'選択された従業員ID: ' + ${selectedEmployeeId} + '、年月: ' + ${selectedYearMonth} + 'の勤怠履歴'"></p>
        
        <!-- CSVダウンロードリンク -->
        <a th:href="@{/download-csv(employeeId=${selectedEmployeeId}, yearMonth=${selectedYearMonth})}" class="btn btn-primary">Download CSV</a>

        <!-- 勤怠テーブル -->
        <table class="attendance-table">
            <thead>
            <tr>
                <th>年月日</th>
                <th>出勤時刻</th>
                <th>退勤時刻</th>
                <th>勤務時間</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(attendance_records)}">
                <td colspan="6" th:text="${message}">データがありません</td>
            </tr>
            <tr th:each="attendance_record : ${attendance_records}">
                <td th:text="${#dates.format(attendance_record.clockIn, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(attendance_record.clockIn, 'HH:mm:ss')}"></td>
                <td th:text="${#dates.format(attendance_record.clockOut, 'HH:mm:ss')}"></td>
                <td th:text="${attendance_record.workDuration}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 勤怠承認ボタン -->
        <form th:action="@{/approveAttendance}" method="post">
            <input type="hidden" name="employeeId" th:value="${selectedEmployeeId}" />
            <input type="hidden" name="yearMonth" th:value="${selectedYearMonth}" />
            <button type="submit">勤怠を承認する</button>
        </form>

        <a th:href="@{/}">戻る</a>
    </div>

    <!-- footer共通部分 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
