<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ログイン</title>
	</head>
	<body>
		<h1>ログイン画面</h1>
		
		<!-- エラー表示 -->
		<div th:if="${param.error}">
			<p style="color: red;">employeeIdまたはpasswordが違います</p>
		</div>
		
		<!--ログアウト表示 -->
		<div th:if="${param.logout}">
			<p style="color: blue">ログアウトしました</p>
		</div>
		
		<form th:action="@{/authentication}" method="post" th:object="${loginForm}">	
			<!-- ユーザー名 -->
			<div>
				<label for="employeeIdInput">employeeId</label>
				<input type="text" th:field="*{employeeIdInput}">
			</div>
			
			<!-- パスワード -->
			<div>
				<label for="passwordInput">password</label>
				<input type="password" th:field="*{passwordInput}">
			</div>
			<div>
				<input type="submit" value="ログイン">
			</div>
		</form>
	</body>
</html>
