<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<!-- head共通部分 -->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>ログイン - ShiftSync</title>
</head>

<body>
	
	<!-- header共通部分 -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <main class="container">
        <h2 class="mb-4">ログイン画面</h2>
        
        <!-- エラー表示 -->
        <div th:if="${param.error}" class="alert alert-danger">
            <p>従業員IDまたはパスワードが違います。</p>
        </div>
        
        <!-- ログアウト表示 -->
        <div th:if="${param.logout}" class="alert alert-info">
            <p>ログアウトしました。</p>
        </div>
        
        <form th:action="@{/authentication}" method="post" th:object="${loginForm}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- 従業員ID -->
                        <div class="form-group">
                            <label for="employeeIdInput">従業員ID</label>
                            <input type="text" id="employeeIdInput" th:field="*{employeeIdInput}" class="form-control">
                        </div>

                        <!-- パスワード -->
                        <div class="form-group">
                            <label for="passwordInput">パスワード</label>
                            <input type="password" id="passwordInput" th:field="*{passwordInput}" class="form-control">
                        </div>

                        <!-- ログインボタン -->
                        <div class="text-center">
                            <input type="submit" value="ログイン" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
	
	<!-- footer共通部分 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    
</body>
</html>
