<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>勤怠履歴</title>
	</head>
	<body>
	    <h2>勤怠履歴</h2>
	    <table border="1" width="300">
	        <thead>
	        <tr>
	            <th>出勤時間</th>
	            <th>退勤時刻</th>
	        </tr>
	        </thead>
	        <tbody>
			<tr th:if="${#lists.isEmpty(attendance_records)}">
			    <td colspan="3" th:text="${message}"></td>
			</tr>
			<tr th:each="attendance_record : ${attendance_records}">
			    <td th:text="${#dates.format(attendance_record.clockIn, 'yyyy-MM-dd HH:mm:ss')}"></td>
			    <td th:text="${attendance_record.clockOut}"></td>
			</tr>
			</tbody>
	    </table>
	    <a th:href="@{/}">戻る</a>
	</body>
</html>
