.display-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* 各要素間のスペース */
    margin-bottom: 20px;
}

.display-row div {
    text-align: center;
    width: 200px;
    height: 57.79px;
}

.display-row p {
    margin-bottom: 5px;
}

.display-row span {
    display: block;
    font-size: 1.2em; /* フォントサイズの調整 */
    font-weight: bold; /* フォントを太く */
}