<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- head共通部分 -->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link href="../static/css/record/attendance-year-month.css" th:href="@{/css/attendance/record/year-month-detail.css}" rel="stylesheet" />
    <title>勤怠修正申請 - ShiftSync</title>
</head>
<body>
	<!-- header共通部分 -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    
    <div class="container">
        <h2>勤怠データ修正</h2>

        <!-- メッセージの表示 -->
        <div th:if="${message}" class="alert alert-success">
            <p th:text="${message}"></p>
        </div>
        
        <div class="d-flex justify-content-center mb-4">
			    <input type="hidden" name="month" th:value="${updateRequestStatus}"/>
			    <button type="submit"  class="btn btn-primary mx-2">修正申請</button>

			<!-- 修正申請フォーム -->
			<form th:if="${canUpdateRequest}" th:action="@{/update-approve-request}" method="post">
			    <input type="hidden" name="month" th:value="${updateRequestStatus}"/>
			    <button type="submit"  class="btn btn-primary mx-2">修正申請</button>
			</form>
	
	        <a th:href="@{/attendance-year-month(month=${selectedMonth})}" class="btn btn-danger mx-2">勤怠履歴に戻る</a>
        </div>

        <!-- 勤怠テーブル -->
        <table class="attendance-table">
            <thead>
            <tr>
                <th>年月日</th>
                <th>出勤時刻</th>
                <th>退勤時刻</th>
                <th>勤務時間</th>
                <th>出退勤データ修正</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(attendance_record)}">
                <td colspan="6" th:text="${message}"></td>
            </tr>
            <tr>
                <td th:text="${#dates.format(attendance_record.clockIn, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(attendance_record.clockIn, 'HH:mm:ss')}"></td>
                <td th:text="${#dates.format(attendance_record.clockOut, 'HH:mm:ss')}" ></td>
                <td th:text="${attendance_record.workDuration}"></td>
                <td>
					<form th:action="@{/update-clock-times}" method="post">
					    <input type="hidden" name="recordId" th:value="${attendance_record.recordId}" />
					    <input type="hidden" name="employeeId" th:value="${attendance_record.employeeId}" />
                        <input type="hidden" name="currentClockIn" th:value="${#dates.format(attendance_record.clockIn, 'yyyy-MM-dd HH:mm:ss')}" />
                        
					    <label>出勤時刻:</label>
					    <input type="time" name="newClockIn" placeholder="時間" required />
					    
					    <label>退勤時刻:</label>
					    <input type="time" name="newClockOut" placeholder="時間" required />
					    
					    <br>
					    <label>修正理由:</label>
					    <br>
        				<textarea name="applicationReason" required></textarea>
        				
        				<button type="submit">修正申請</button>
					</form>
				</td>
            </tr>
            </tbody>
        </table> </div>

            <!-- footer共通部分 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>