<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- head共通部分 -->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link href="../static/css/record/attendance-year-month.css" th:href="@{/css/attendance/record/year-month-detail.css}" rel="stylesheet" />
    <title>勤怠履歴 - ShiftSync</title>
</head>

<body>
    <!-- header共通部分 -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <div class="container">
        <h2>勤怠履歴</h2>

        <!-- 月の選択ドロップダウン -->
        <form th:action="@{/attendance-year-month}" method="get">
            <label for="month">月を選択:</label>
            <select name="month" id="month">
                <option th:each="i : ${#numbers.sequence(1,12)}"
                        th:value="${i}" th:text="${i}">1</option>
            </select>
            <button type="submit">表示</button>
        </form>

        <!-- メッセージの表示 -->
        <div th:if="${approveSuccessMessage}" class="alert alert-success">
            <p th:text="${approveSuccessMessage}"></p>
        </div>

        <!-- 選択した月を表示 -->
        <p th:text="'選択された月: ' + ${selectedMonth} + '月の勤怠履歴'"></p>
        
        <div class="d-flex justify-content-center mb-4">
	        <!-- CSVダウンロードリンク -->
	        <a th:href="@{/download-csv(month=${selectedMonth})}" class="btn btn-success mx-2">Download CSV</a>
	
			<!-- 承認申請フォーム -->
			<form th:if="${canApproveRequest}" th:action="@{/insert-approve-request}" method="post">
			    <input type="hidden" name="month" th:value="${selectedMonth}"/>
			    <button type="submit"  class="btn btn-primary mx-2">承認申請</button>
			</form>
	
	        <a th:href="@{/}" class="btn btn-danger mx-2">勤怠記録に戻る</a>
        </div>

        <!-- 勤怠テーブル -->
        <table class="attendance-table">
            <thead>
            <tr>
                <th>年月日</th>
                <th>出勤時刻</th>
                <th>退勤時刻</th>
                <th>勤務時間</th>
                <th>勤怠データ修正申請</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(attendance_records)}">
                <td colspan="6" th:text="${message}"></td>
            </tr>
            <tr th:each="attendance_record : ${attendance_records}">
                <td th:text="${#dates.format(attendance_record.clockIn, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(attendance_record.clockIn, 'HH:mm:ss')}"></td>
                <td th:text="${#dates.format(attendance_record.clockOut, 'HH:mm:ss')}"></td>
                <td th:text="${attendance_record.workDuration}"></td>
                <td>
		            <!-- 出勤時刻修正リンク -->
		            <a th:href="@{/edit-clock-time(recordId=${attendance_record.recordId}, employeeId=${attendance_record.employeeId})}"
		               class="btn btn-secondary" th:if="${canApproveRequest}">修正申請</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <!-- footer共通部分 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
